Unity/**/Library/

Unity/**/obj/

Unity/**/Temp/

Unity/**/*.sln

Unity/**/*.csproj
xcuserdata/

Unity/**/holobuild/
Unity/**/UWP/
Unity/**/holobuild/
**/.vs/
**/*.db
**/*.opendb
**/*.unitypackage

PopReadPixels.Windows/Debug/
PopReadPixels.Windows/x64/

iosbuild/

PopReadPixels\.Android/build\.xml

PopReadPixels\.Android/proguard-project\.txt

PopReadPixels\.Android/local\.properties

PopReadPixels\.Android/project\.properties

PopReadPixels\.Android/libs/

PopReadPixels\.Android/obj/
